# 🤖 Naja7i Telegram Bot Configuration
# ضع التوكن الذي حصلت عليه من @BotFather هنا:
BOT_TOKEN=8986772563:AAElh7dmp3XoCOJw3PCYCOa8BxGxg64Dlms

# رابط تطبيق الويب المصغر (Mini App / TWA)
WEB_APP_URL=https://naja7i-platform.vercel.app
